{% extends "layout.html" %}

{% block title %}
    Bienvenido al movimiento Kawok
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Bienvenido al movimiento Kawok</h1>
        <p class="text-center">Kawok es una comunidad que conecta músicos y artistas con oportunidades de trabajo en la industria musical.</p>
        <div class="d-flex justify-content-center gap-3 mt-4">
        <a href="/login" class="btn btn-primary">Iniciar Sesión</a>
        <a href="/register" class="btn btn-outline-primary">Registrarse</a>
        </div>
    </div>
{% endblock %}